# Tensorflow Input Pipeline
a critical component of building efficient and scalable machine learning models

In [2]:
import tensorflow as tf

In [5]:
#Creating tf dataset from list
n_sales = [11, 19, -10, 31, -1, 52, 24, 31]

tf_dataset = tf.data.Dataset.from_tensor_slices(n_sales)
tf_dataset

In [6]:
#Iteration
for sales in tf_dataset:
  print(sales.numpy())

11
19
-10
31
-1
52
24
31

In [7]:
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

11
19
-10
31
-1
52
24
31

In [8]:
#Filtering (x>0)
tf_dataset = tf_dataset.filter(lambda x: x>0)
for sales in tf_dataset.as_numpy_iterator():
  print(sales)

11
19
31
52
24
31

In [9]:
#Converting currency (assuming 1 USD = 110 BDT)
tf_dataset = tf_dataset.map(lambda x: x*110)
for sales in tf_dataset.as_numpy_iterator():
  print(sales)

1210
2090
3410
5720
2640
3410

In [10]:
#Shuffling
tf_dataset = tf_dataset.shuffle(2)
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

2090
3410
5720
1210
2640
3410

In [11]:
#Batching
for sales_batch in tf_dataset.batch(2):
    print(sales_batch.numpy())

[2090 1210]
[5720 2640]
[3410 3410]

 ## Now, operate all the things in one shot!

In [13]:
tf_dataset = tf.data.Dataset.from_tensor_slices(n_sales)

tf_dataset = tf_dataset.filter(lambda x:x>0).map(lambda y:y*110).shuffle(2).batch(2)

for sales in tf_dataset.as_numpy_iterator():
  print(sales)

[1210 3410]
[5720 2640]
[3410 2090]